/*field*/
#field {
    position: absolute;
    overflow: auto;
    width: 453px;
    height: 453px;
    display: flex;
    align-items: flex-end;
    background-image: url(./images/field1.png);
    margin-left: 40px;
    margin-top: 20px;
}

/*performer*/
img {
    /* step = 20.4 */
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 16px;
    height: 16px;
}

/*text area for code*/
textarea {
    margin-top: 48px;
    margin-left: 470px;
    height: 420px;
    width: 600px;
    overflow: auto;
    position: absolute;
    background-color: rgb(41, 41, 41);
    color:white;
    font-size: 13;
    resize: none;
}

.div-buttons{
    margin-top: 20px;
    margin-left: 40px;
}

button{
    height: 25px;
    width: 75px;
    background-color: rgb(41, 41, 41);
    color: white;
}
