<!DOCTYPE html>

<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>shit++ on web</title>
    </head>
    
    <body style="background-color: rgb(41, 41, 41)">
        <div class="div-buttons">
            <button name="run">run</button>
            <button name="stop">stop</button>
            <button name="save">save</button>
            <button name="open">open</button>
        </div>

        <div id="field">
            <img src="static\images\performer.jpg">
        </div>
        <textarea name = "code" autocomplete="off" autofocus="on"></textarea>
    </body>


    

</html>
