<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type=text/javascript>
        $(function() {
          $('a#run').on('click', function(e) {
            e.preventDefault()  

            function myCallback(result){
              let move_data = result['move-data'].split(' ')
              let err = result['err'];
              
              $("#field").parent().css({position: 'relative'});
              $("img").css({bottom: '4px', left: '4px', position:'absolute'});

              for (let i = 0; i < move_data.length; i += 2) {
                var num = move_data[i + 1];
                var step = 21.5;

                if (move_data[i] == 'RIGHT') {
                  $( "img" ).animate({
                    left: `+=${step * num}`,
                  }, 200 * num);
                  
                } else if (move_data[i] == 'LEFT') {
                  $( "img" ).animate({
                    left: `-=${step * num}`,
                  }, 200 * num);

                } else if (move_data[i] == 'UP') {
                  $( "img" ).animate({
                    bottom: `+=${step * num}`,
                  }, 200 * num,);

                } else if (move_data[i] == 'DOWN') {
                  $( "img" ).animate({
                    bottom: `-=${step * num}`,
                  }, 200 * num, );
                }
                
                // обработчик сообщений об ошибке
              }
            };

            $.getJSON('/run', {code: $("textarea").val()}, myCallback);
            return false;
          });
        });

        $(function() {
          $('a#stop').on('click', function(e) {
            e.preventDefault()
            $("#field").parent().css({position: 'relative'});
            $("img").css({bottom: '4px', left: '4px', position:'absolute'});

          })
        })

        $(function() {
          $('a#save').on('click', function(e) {
            e.preventDefault()
            $.get('/save', {code: $("textarea").val()});
            return false;
          })
        })

        $(function() {
          e.preventDefault()
          $('a#open').on('click', function(e) {
          })
        })
</script>

<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>shit++ on web</title>
    </head>
    
    <body style="background-color: rgb(41, 41, 41)">
        <div class="div-buttons">
            </form>
                <textarea name = "code" autocomplete="off" autofocus="on"></textarea>
                <a href=# id=run><button class='btn btn-default' value=code>run</button></a>
             </form>
            
             <a href=# id=stop><button class='btn btn-default'>stop</button></a>
             <a href=# id=save><button class='btn btn-default'>save</button></a>
             <a href=# id=open><button class='btn btn-default'>open</button></a>
        </div>

        <div id="field">
            <img id='performer' src="static\images\performer.png">
        </div>
    </body>

</html>

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>


<div class='container'>
    <h3>Test</h3>
        <form>
            <a href=# id=test><button class='btn btn-default'>Test</button></a>
        </form>

</div> -->

<!-- for (let d of move_data) {
    performer.style.left = parseInt(getComputedStyle(performer).left) + 20.3 * 2 + 'px';
    performer.style.transition = "1s";
} -->